*, *:before, *:after {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
a {color: inherit;text-decoration: none;}
a:hover {text-decoration: underline;}
ul {padding: 0;}
button {padding: 0;margin: 0;cursor: pointer;}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */

.header {
    margin-bottom: 30px;
}

.header__top {
    height: 100px;
}
@media (max-width: 767.98px){
    .header__top {
    height: 60px;
    }
}

.header__top-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    max-height: 100%;
    position: relative;
    z-index: 3;
}

.header__logo img {
    display: block;
    height: 80px;
}
@media (max-width: 767.98px){
    .header__logo img {
        height: 50px;
    }
}

.nav {
    display: flex;
    justify-content: center;
}

.nav__link {
    font-size: 20px;
    font-weight: 700;
    margin-right: 15px;
    color: #363636;
    transition: all .2s ease;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    text-decoration: none;
    color: #645fb1;
    transform: scale(1.1);
}

.header__bot {
    height: 50px;
    background: url(../images/header/100f.jpg) center no-repeat;
    background-size: cover;
}

.header__bot-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__date {
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
}

.header__link {
    display: block;
    height: 80px;
}

.header__link img {
    transition: all .2s ease;
}

.header__link img:hover {
    transform: scale(1.1);
}

.header__link img {
    display: block;
    height: 80px;
}
@media (max-width: 767.98px){
    .header__img {
        height: 60px;
    }
    .header__link img {
        height: 60px;
    }
}

/* Burger menu */

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
}
@media (max-width: 767.98px){
    .burger {
        display: block;
    }
}

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
@media (max-width: 767.98px){
    .burger {
        display: block;
    }
}

.burger span {
    position: absolute;
    background-color: #363636;
    width: 100%;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear;
}

.burger:before {
    content: "";
    background-color: #363636;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    transition: all .2s linear;
}

.burger:after {
    content: "";
    background-color: #363636;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: all .2s linear;
}

.burger.active:before {
    transform: rotate(45deg);
    top: 8px;
}

.burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.burger.active span {
    transform: scale(0);
}

@media (max-width: 767.98px){
    body.lock{
        overflow: hidden;
    }
    
    .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    transform: translateX(-100%);
    transition: all .2s ease;
    overflow: auto;
    }
    .nav.active {
        transform: translateX(0);
        flex-direction: column;
    }
    .nav__link {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
    }
}


/* main */

.main__inner {
    display: flex;
    margin-bottom: 15px;
}

.main__col {
    flex: 0 1 30%;
    padding: 0 10px;
}

.main__col--big {
    flex: 0 1 40%;
}

.main__col--left {
    border-left: 1px solid #645fb1;
}

.main__col--right {
    border-right: 1px solid #645fb1;
    text-align: right;
}

@media (max-width: 1000px){
    .main__inner {
        flex-wrap: wrap;
    }
    .main__col {
        flex: 0 1 50%;
        border: none;
    }
    .main__col--big {
        order: 1;
        flex: 0 1 100%;
    }
    .main__col--left {
        order: 2;
        border-right: 1px solid #645fb1;
    }
    .main__col--right {
        order: 3;
    }
}
@media (max-width: 700px){
    .main__col {
        flex: 0 1 100%;
        text-align: center;
        padding: 0;
    }
    .main__col--left {
        border: none;
        border-bottom: 1px solid #645fb1;
    }
}


.main__item {
    border-bottom: 1px solid #645fb1;
    padding: 10px;
}

.main__item:last-child {
    border: none;
}

.main__title {
    color: #ff0066;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.main__link {
    display: block;
    color: #645fb1;
    font-weight: 700;
    margin-bottom: 5px;
}

.welcome__title {
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.welcome__text {
    margin-bottom: 10px;
    text-align: center;
}

.welcome__img {
    text-align: center;
    margin-bottom: 20px;
}

.welcome__img img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.news {
    border: 1px solid #645fb1;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1000px){
    .news {
        margin-bottom: 15px;
    }
}

.news__list {
    flex: 1 1 auto;
    overflow-y: scroll;
}

.news__item {
    display: flex;
    margin-bottom: 5px;
}

.news__date {
    color: #ff0066;
    margin-right: 10px;
    font-weight: 700;
    flex: 0 1 70px;
}

.news__title {
    color: #645fb1;
    font-weight: 700;
}

.news__title--new:after {
    content: "new";
    color: #ff0066;
    font-size: 12px;
    font-weight: 700;
    margin-left: 5px;
}

.all-news {
    text-align: right;
}

.all-news span {
    font-size: 13px;
}

.all-news a {
    color: #645fb1;
}

.main__col--left .main__link--new:after {
    content: "new";
    color: #ff0066;
    margin-left: 5px;
    font-size: 12px;
}

.main__col--left .main__link--upd:after {
    content: "upd";
    color: #ff0066;
    margin-left: 5px;
    font-size: 12px;
}

.main__col--right .main__link--new:before {
    content: "new";
    color: #ff0066;
    margin-right: 5px;
    font-size: 12px;
}

.main__col--right .main__link--upd:before {
    content: "upd";
    color: #ff0066;
    margin-right: 5px;
    font-size: 12px;
}

.main__social {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.social__link {
    margin: 0 5px;
}
@media (max-width: 479.98px){
    .social__link {
        width: 60px;
    }
    .social__link img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.social__link img {
    transition: transform .2s ease;
}

.social__link:hover img {
    transform: scale(1.1);
}



/* Footer */

.footer {
    background: url(../images/footer/133f.jpg) center no-repeat;
    background-size: cover;
    padding: 20px 0;
    color: #fff;
}

.footer__inner {
    display: flex;
}
@media (max-width: 992.98px){
    .footer__inner {
        display: block;
    }
}

.footer__img {
    margin-top: -70px;
    margin-right: 20px;
}
@media (max-width: 992.98px){
    .footer__img {
        width: 150px;
        margin-top: -40px;
        margin: 0 auto;
        margin-top: -60px;
    }
    .footer__img img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.footer__img img {
    transition: all .2s ease;
}

.footer__img img:hover {
    transform: scale(1.05);
}

.footer_content a {
    transition: all .2s ease;
}

.footer_content a:hover {
    transform: scale(1.1);
    text-decoration: none;
}

.footer__nav {
    text-align: right;
    margin-bottom: 20px;
}

.footer__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer__links {
    text-align: right;
    margin-bottom: 20px;
}

.footer__link {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer__resources {
    text-align: right;
}

.footer__res {
    opacity: .3;
    transition: all .2s ease;
}

.footer__res:hover {
    opacity: 1;
}

@media (max-width: 992.98px){
    .footer_content {
        display: flex;
        flex-wrap: wrap;
    }
    .footer__nav, .footer__links {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        align-items: center;
        justify-content: center;
    }
    .footer__resources {
        flex: 0 1 100%;
        text-align: center;
    }
}

@media (max-width: 550px){
    .footer__nav, .footer__links {
        flex: 0 1 100%;
    }
    .footer__nav {
        margin-top: 10px;
    }
    .footer__res {
        opacity: 1;
    }
}












